<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FDKAACEncoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C3FE291E55AF95004AB860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3FE421E55AF97004AB860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3FE4D1E55AF97004AB860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
